#intro{
    height: calc(100vh - 7rem);
    width: 100vw;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.introImg{
    position: absolute;
    top: 5rem;
    right: 2.5rem;
    z-index: -1;
    object-fit: cover;
    height: 570px;
    width: 500px;
    border-radius: 50%;
    border: solid rgb(255, 160, 16);
    background: rgb(255, 255, 255);
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 20px;
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: 1.75rem;
    font-weight: 100;
}

.introName{
    color: rgb(255, 174, 0);
    /* font-size: 40px; */
}


.introParagrapg{
    margin-top: 7px;
    font-size: 18px;
    font-weight:300;
    /* color:rgb(184, 182, 178); */
    letter-spacing: 1px;
}

.introbtn{
    display: flex;
    padding: 8px 22px;
    margin: 28px 0;
    border: 2px solid rgb(255, 174, 0);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

@media screen and (max-width: 600px){
    #intro{
        height: 100vh;
        display: flex;
        height: 630px;
        flex-direction:column-reverse;
        margin: 0 auto;
    }


    
    .introImg{
        position: absolute;
        top: 1rem;
        right: 2.5rem;
        z-index: -1;
        object-fit: cover;
        height: 300px;
        width: 260px;
        border-radius: 50%;
        border: 2px solid rgb(255, 160, 16);
        background: rgb(255, 255, 255);
    }
    
    .introContent{
        height: auto;
        width: 100vw;
        padding: 20px;
        font-size: 2.2rem;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .hello{
        font-size: 1.4rem;
    }

    .introText{
        font-size: 28px;
    }
    .introName{
        color: rgb(255, 174, 0);
        font-size: 28px;
    }
    
    .runtext{
        font-size: 25px;
    }
    
    .break{
        display: none;
    }
    
    .introParagrapg{
        margin-top: 10px;
        font-size: 16px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:rgb(255, 255, 255);
        letter-spacing: 1px;
    }
    
    .introbtn{
        padding: 2px 5px;
        margin: 20px 0;
        border: 1px solid rgb(255, 174, 0);
        border-radius: 10px;
        gap: 3px;
    }
}